.cmd-elem {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: large;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.377);
    background-color: white;
    padding-left: 5px;
    transition: 0.3s ease;

    margin-bottom: 5px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.171);
        /* cursor: pointer; */
    }
}

.cmd-elem > p {
    flex: 1;
}

.cmd-elem > button {
    margin-left: 4px;
    width: 20px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    border-radius: 4px;
    font-size: 28px;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.575);
    }
}
