.cmd-elem {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: large;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.377);
    background-color: white;
    padding: 5px;
    transition: 0.3s ease;

    margin-bottom: 5px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.171);
        cursor: pointer;
    }
}

.cmd-elem > p {
    flex: 1;
}

.cmd-elem > button {
    width: 28px;
    height: 32px;
    border-radius: 4px;
    border: none;
    background-color: black;
    color: white;
    font-size: 28px;
    transition: 0.3s ease;

    &:hover {
        background-color: rgba(0, 0, 0, 0.575);
    }
}
