.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.option-section {
    display: flex;
    align-items: center;
}

.option button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.37);
    background-color: rgb(255, 255, 255);

    transition: 0.3s ease;

    &:hover {
        background-color: rgba(0, 0, 0, 0.219);
    }
}
