.prompt {
    display: flex;
    flex-direction: column;
    height: 92vh;
}

.prompt > .list {
    width: 100%;
}

.prompt > .list > ul {
    background-color: rgb(255, 255, 255);
    font-size: large;
    height: 84vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    align-items: start;
    list-style: none;
    padding: 0 5px;
}
.prompt > .list > ul > li {
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.151);
    padding: 3px 0;
}
.prompt > .list > ul > .cmd {
    display: flex;
    justify-content: end;

    & > p {
        background-color: rgba(0, 0, 0, 0.171);
        padding: 4px;
        border-radius: 4px;
    }
}

.prompt > .input {
    border-top: 2px solid rgba(0, 0, 0, 0.336);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.prompt > .input > .cmd {
    width: 85%;
    padding: 5px;
    font-size: 28px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.322);

    &:focus {
        border: 3px solid rgba(0, 0, 0, 0.692);
    }
}

.prompt > .input > .enter {
    border: none;
    width: fit-content;
    height: fit-content;
    /* cursor: pointer; */
    transition: filter 0.3s ease;

    &:hover {
        filter: contrast(80%);
    }
}
