.prompt {
    display: flex;
    flex-direction: column;
    height: 92vh;
}

.prompt > .list {
    width: 100%;
}

.prompt > .list > ul {
    background-color: var(--bg-color);
    font-size: large;
    height: 84vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    align-items: start;
    list-style: none;
    padding: 0 5px;
}
.prompt > .list > ul > li {
    width: 100%;
    border-bottom: 2px solid var(--key-color);
    padding: 3px 0;
}
.prompt > .list > ul > .cmd {
    display: flex;
    justify-content: end;

    & > p {
        padding: 4px;
        border-radius: 4px;
    }
}

.prompt > .input {
    border-top: 2px solid var(--key-color);
    width: 100%;
    height: 8vh;
    gap: 10px;
}

.prompt > .input > .cmd {
    width: 85%;
    padding: 8px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    background-color: var(--key-color);

    &:focus {
        border: 3px solid var(--font-color);
    }
}

.prompt > .input > .enter {
    background: none;
    border: none;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--font-color);

    &:hover {
        filter: opacity(70%);
    }
}
