.cmd-elem {
    font-size: 20px;
    border-radius: 4px;
    border: 2px solid var(--key-color);
    padding-left: 4px;
    transition: 0.3s ease;
    margin-bottom: 5px;
    color: var(--font-color);

    &:hover {
        background-color: var(--key-color);
        cursor: pointer;
    }
}

.cmd-elem > p {
    flex: 1;
}

.cmd-elem > button {
    margin-left: 4px;
    width: 20px;
    height: 90%;
    border: none;
    background: none;
    border-radius: 4px;
    transition: 0.3s ease;
    cursor: pointer;
    color: var(--font-color);

    &:hover {
        color: var(--bg-color);
    }
}
