.modal-repo {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-repo-container {
    color: var(--font-color);
    background-color: var(--bg-color);
    border-radius: 16px;
    width: 600px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    overflow: hidden;
}

.modal-header {
    width: 100%;
    height: 32px;
    background-color: var(--key-color);
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 20px;
}
.input-text {
    width: 100%;
    display: grid;
    grid-template-columns: 75px 1fr;
    font-size: 24px;
    & input {
        margin-left: 50px;
        border-radius: 8px;
        border: 2px solid var(--key-color);
        font-size: large;
        padding: 4px;

        &:focus {
            border: 4px solid var(--font-color);
        }
    }
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;

    width: 100%;
    height: 80px;
    & > button:hover {
        color: var(--key-color);
    }
}
