.modal-repo {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-repo-container {
    background-color: white;
    border-radius: 16px;
    width: 600px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding-bottom: 40px;

    overflow: hidden;
}

.modal-header {
    width: 100%;
    height: 32px;
    background-color: rgb(138, 138, 138);
    padding: 4px;
}

.input-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto 0;
}
.input-text {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 1fr;
    padding: 0 50px;
    font-size: 36px;
    & input {
        margin-left: 50px;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.178);
        font-size: large;
        padding: 4px;

        &:focus {
            border: 4px solid rgba(0, 0, 0, 0.705);
        }
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 60px;
    & button {
        width: 120px;
        height: 60px;
        padding: 8px;
        background-color: rgb(218, 218, 218);
    }
}
