.modal-setting {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

.setting-container {
    background-color: var(--bg-color);
    border-radius: 16px;
    width: 600px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.setting-header {
    width: 100%;
    height: 32px;
    background-color: var(--key-color);
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    align-items: start;
    width: 100%;
    padding: 16px;
    font-size: 24px;
}

.setting-color {
    display: grid;
    grid-template-columns: 150px 50px;
}
