.history {
    display: flex;
    flex-direction: column;
    height: 92vh;
    font-size: small;
    /* background-color: none; */
}

.history > header {
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.history-content {
    width: 100%;
    height: 88vh;
    overflow-y: scroll;
}

.history-content > .category {
    width: 100%;
    height: 4vh;
    display: grid;
    grid-template-columns: 75px 2fr 100px 75px 75px;
    background-color: var(--key-color);
}
.category-item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
}

.history-list {
    width: 100%;
    height: 84vh;
}

.history-grid {
    display: grid;
    & > p {
        padding-left: 5px;
        overflow: hidden;
    }
}

.history-item {
    height: 20px;
    overflow: hidden;
}

.resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--font-color);
    cursor: col-resize;
    z-index: 10;
    filter: opacity(50%);

    &:hover {
        filter: opacity(30%);
    }
}
