.history {
    display: flex;
    flex-direction: column;
    height: 92vh;
    font-size: small;
}

.history > header {
    width: 100%;
    height: 4vh;
    border-bottom: 2px solid rgba(0, 0, 0, 0.336);
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.history-content {
    width: 100%;
    height: 88vh;
    overflow-y: scroll;
}

.history-content > .category {
    width: 100%;
    height: 4vh;
    display: grid;
    grid-template-columns: 75px 2fr 100px 75px 75px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.336);
    background-color: rgba(0, 0, 0, 0.062);

    & > p {
        padding-left: 5px;
        border-left: 1px solid rgba(0, 0, 0, 0.336);
    }
    & > p:first-child {
        border: none;
    }
}
.category-item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
}

.history-list {
    width: 100%;
    height: 84vh;
}

.history-grid {
    display: grid;
    & > p {
        padding-left: 5px;
        overflow: hidden;
    }
}

.history-item {
    height: 20px;
    overflow: hidden;
}

.resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    cursor: col-resize;
    z-index: 10;
    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
