.history {
    display: flex;
    flex-direction: column;
    height: 92vh;
}

.history > header {
    width: 100%;
    height: 4vh;
    border-bottom: 2px solid rgba(0, 0, 0, 0.336);
}

.history-content {
    width: 100%;
    height: 88vh;
    overflow-y: scroll;
}

.history-content > .category {
    width: 100%;
    height: 4vh;
    display: grid;
    grid-template-columns: 75px 2fr 100px 75px 75px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.336);
    background-color: rgba(0, 0, 0, 0.062);

    & > p {
        padding-left: 5px;
        border-left: 1px solid rgba(0, 0, 0, 0.336);
    }
    & > p:first-child {
        border: none;
    }
}

.history-list {
    width: 100%;
    height: 84vh;
}

.history-grid {
    display: grid;
    grid-template-columns: 75px 2fr 100px 75px 75px;
    & > p {
        padding-left: 5px;
        overflow: hidden;
    }
}

.history-item {
    height: 28px;
    overflow: hidden;
}
