.cmd-list {
    height: 92vh;
    color: var(--font-color);
}

.cmd-list > ul {
    height: 84vh;
    padding: 5px;
    overflow-y: auto;
}

.cmd-controls {
    border-top: 2px solid var(--key-color);
    width: 100%;
    height: 8vh;
    gap: 5px;
    padding: 0 4px;
}

.cmd-controls .text {
    width: 100%;
    padding: 8px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    background-color: var(--key-color);
    color: var(--font-color);

    &:focus {
        border: 3px solid var(--font-color);
    }
}

.cmd-controls > .add {
    border: none;
    background: none;
    transition: filter 0.3s ease;
    color: var(--font-color);
    width: fit-content;
    height: fit-content;
    cursor: pointer;

    &:hover {
        filter: opacity(70%);
    }
}
