* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
#root {
    width: 100vw;
    height: 100vh;
}

.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.option {
    width: 100%;
    height: 8vh;
    border-bottom: 2px solid rgba(0, 0, 0, 0.151);
    background-color: darkgrey;
}

.content {
    width: 100%;
    height: 92vh;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}
.section {
    border-left: 2px solid rgba(0, 0, 0, 0.274);
    &:first-child {
        border: none;
    }
}
