* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
#root {
    width: 100vw;
    height: 100vh;
}

.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.option {
    width: 100%;
    height: 8vh;
    background-color: darkgrey;
}

.content {
    width: 100%;
    height: 92vh;
    display: grid;
    grid-template-columns: 1fr;
}
.section {
    border-left: 2px solid rgba(0, 0, 0, 0.274);
    &:first-child {
        border: none;
    }
}

.handle {
    width: 6px;
    cursor: col-resize;
    background-color: rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s ease;
    height: 100%;
    &:hover {
        background-color: rgba(0, 0, 0, 0.18);
    }
}
