:root {
    --key-color: #aaaaaa;
    --bg-color: #ffffff;
    --font-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body,
#root {
    width: 100vw;
    height: 100vh;
}

.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.option {
    width: 100%;
    height: 8vh;
    background-color: var(--key-color);
}

.content {
    width: 100%;
    height: 92vh;
    display: grid;
    grid-template-columns: 1fr;
}

.handle {
    width: 4px;
    cursor: col-resize;
    background-color: var(--key-color);
    transition: all 0.2s ease;
    height: 100%;

    &:hover {
        filter: opacity(50%);
    }
}
